*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 95%;
    margin: 0 auto;
}
.title{
    margin: 20px 0;
    border-bottom: 1px solid black;
}
.sort-item span{
    margin-right: 20px;
}
.sort-item span b{
    color:salmon;
}
.sort-item{
    margin-bottom: 20px;
}
